.readTop{ /*리스트 상단바*/
    position: relative;
    width: 1600px;
    height: 60px;
    left: 40px;
    top: 40px;
    background-color: #f4f4f4;
    
}
#readLeft{/*정렬,검색,*/
    width: 200px;
    height: 50px;
   float: left;
}
#readRight{ /*전체 개수,편집*/
    width: 150px;
    height: 50px;
    float: right;
}
#readRight p,button{ display: inline-block;}
#search{ /*검색바 컨테이너*/
    display: inline-block;
}
#searchBar{/*검색바 */
    position: relative;
    width: 420px;
      height: 49px;
      left:-50px;
      font-size: 15px;
      border: 0;
      border-radius: 5px;
      outline: none;
      
      background-color: rgb(255, 255, 255);
     
    }
#searchBtn{
    position: relative;
    left:-100px;
    top:10px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 40px;
    height: 40px;
}
#searchBtn img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
#select{ /*selectbox*/
    width: 178px; 
    height: 49px;
    padding: .8em .5em; 
    border: none;
    font-family: inherit;  
    background: url('../imgs/gdg_admin_ic/ic_arrow_down.png') no-repeat 95% 50%; 
    border-radius: 10px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    margin: 0 10px;
}
#select::-ms-expand {
    display: none;
    }
.itemComponent{ /*리스트타이틀,리스트 내용*/
    position: absolute;
    top: 120px;
    width: 1600px;
    height:100vh;
    margin: 0;
}

