.Notification-container {
    position: absolute;
    display: block;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    width: 100%;
}

.Notification-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F4;
    width: 100%;
    border-radius: 20px 0px 0px 0px;
    padding: 20px;
}

.Notification-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.Notification-leftRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.Notification-detail {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.Notification-menuBtn {
    border: none;
    background-color: white;
    font-size: 24px;
    font-weight: 500;
    color: #B4B4B4;
    margin-left: 20px;
}

.active {
    color: #000000;
}

.Notification-count {
    font-size: 18px;
    color: #696969;
}

.Notification-category {
     background: #FFFFFF;
     border-radius: 10px;
     border: none;
     width: 170px;
     height: 50px;
}

.Notification-inputTitle {
    font-size: 14px;
    color: #8E8E8E;
}

.Notification-inputPlace {
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.Notification-inputText {
    width: 60% ;
}

.Notification-inputImage {
    /*display: flex;*/
    /*flex-direction: row;*/
    width: 40%;
}
.Notification-input {
    border: none;
    width: 690px;
    height: 50px;
    margin-left: 0;
}

.Notification-btnPlace {
    display: flex;
    flex-direction: row-reverse;
    background-color: #444444;
    width: 100%;
    height: 100px;
    align-items: center;
}

.Notification-writeBtn {
    background: #05D287;
    border-radius: 10px;
    border-style: none;
    color: white;
    width: 100px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.Notification-btn {
    background: white;
    border-radius: 10px;
    border-style: none;
    width: 100px;
    height: 60px;
}

#Notification-userList {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}